@font-face {
    font-family: 'Dosis';
    src: url('assets/fonts/Dosis-Regular.ttf') format('truetype');
}

:root {
    --top-bar-height: 25px;
}

body {
    user-select: none;
    background-color: #3A3A3A;
    margin: 0px;
    height: 100%;
}

html {
    margin: 0px;
    height: 100%;
}

#top-bar {
    position: relative;
    font-size: 0px;
    width: 100%;
    height: var(--top-bar-height);
    background-color: rgb(42, 42, 42);
    /*vertical-align: top;*/
    z-index: 2;
}

#top_bar_right_float {
    display: inline-block;
    line-height: var(--top-bar-height);
    float: right;
}

.top-bar_right_btn {
    --img-height: 19px;
    height: var(--img-height);
    padding: calc(((var(--top-bar-height) - var(--img-height))/2) - 1px);
}

#top-bar_menu_container {
    position: relative;
    display: inline-block;
    /*line-height: var(--top-bar-height);*/
    font-size: 0;
    align-items: flex-end;
    z-index: 70;
}

.top-bar_menu_entry {
    display: inline-flex;
    position: relative;
    height: var(--top-bar-height);
    line-height: var(--top-bar-height);
    background-color: rgb(42, 42, 42);
    color: #FFFFFF;
    font-family: Dosis;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
    border-right: solid 1px rgb(70,70,70);
    z-index: 70;
}

.top-bar_menu_entry:hover {
    background-color: rgb(55, 55, 55);
}

.top-bar_menu_dropdown {
    color: #FFFFFF;
    font-size: 12px;
    position: fixed;
    z-index: 150;
    display: none;
    width: 200px;
    height: 300px;
    background-color: #666666;
}

#command_bar {

}

#command_bar_input {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: rgb(255,255,255);
    height: var(--top-bar-height);
    width: 220px;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    border: 0px;
    border-left: solid 8px rgb(70,70,70);
    background-color: rgb(70,70,70);
    vertical-align: top;
    font-size: 20px;
    transition: width 0.4s;
    font-family: 'Dosis';
    z-index: 70;
}

#command_bar_input:focus {
    z-index: 100;
    outline: none;
    width: 50%;
    -webkit-box-shadow: 0px 0px 20px 0px #015170;
    -moz-box-shadow: 0px 0px 20px 0px #015170;
    box-shadow: 0px 0px 20px 0px #015170;
}

#sidebar-menu {
    position: fixed;
    top: var(--top-bar-height);
    left: 0px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    background-color: #00151c;
    height: calc(100% - var(--top-bar-height));
    margin-bottom: 0;
}

#sidebar-menu_close {
    float: right;
    width: 40px;
    height: 40px;
}

#sidebar-menu_open:hover {
    background: linear-gradient(rgb(1, 35, 48),rgb(21, 21, 21));
}

.switch_menu_container {
    font-size: 0px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.switch_menu {
    font-size: 20px;
    display: inline-flex;
    margin: 0px auto;
    width:100%;
    justify-content: space-evenly;
}

.button {
    margin: 0px;
    height: 30px;
    display: inline-block;
    width: 34%;
    padding: 0px;
    border: 0px;
    background-color: rgb(39, 39, 39);
    color: white;
    font-family: Dosis;
}

.button:focus {
    outline: none;
}

.button-active {
    height: 40px;
} 


.tab_strip {
    user-select: none;
    display: block;
    height: 35px;
    background: -webkit-linear-gradient(left,#D7062A,#F9C500);
    color: white;
    font-size: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.tab {
    font-family: 'Dosis';
    display: inline-block;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    /*border-left: solid 2px #FFFFFF;
                Pentru siguranta lui Tudor
    */
    margin: 0px;
    margin-right: 4px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 60px;
    background-color: rgba(64, 64, 64, 0.87);
    border-top-right-radius: 9px;
}

#workspace {
    position: fixed !important;
    right: 0px;
    top: var(--top-bar-height);
    display: inline-block;
    transition: width;
    width: calc(100% - var(--left-clearance));
    /*animation: animateright 0.4s;*/
    height: calc(100% - var(--top-bar-height));
    z-index: -1;
}

.filler {
    height: 100%;
    width: 100%;
    background-color: #3a3a3a;
    text-align: center;
    padding-top: 60px;
}

.shadow {
    -webkit-box-shadow: 0px 0px 20px 0px black;
    -moz-box-shadow: 0px 0px 20px 0px black;
    box-shadow: 0px 0px 20px 0px black;
}