.ui-dialog {
    padding: 0px;
    border: 0px !important;
    background-color: rgb(31, 31, 31);
    -webkit-box-shadow: 0px 0px 20px 0px black;
    -moz-box-shadow: 0px 0px 20px 0px black;
    box-shadow: 0px 0px 20px 0px black;
}

.ui-dialog-titlebar-close {
    background-color: transparent;
    border: 0px;
}

.ui-dialog-titlebar-close:hover {
    background-color: transparent;
    border: 0px;
    color: rgb(0, 95, 132);
}

.ui-dialog-titlebar {
    height: 30px;
}

.ui-button:active {
    border: 0px;
    background-color: transparent;
    outline: none;
}
